<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729752416660-hvvs6kaj3vft6pks2shk7o2e87q2jn7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729752416660-hvvs6kaj3vft6pks2shk7o2e87q2jn7i</string>
	<key>API_KEY</key>
	<string>AIzaSyD2kwpHN_XqzCxuc-RzhlCaujqdN4i29FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>729752416660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.craveiospro</string>
	<key>PROJECT_ID</key>
	<string>c-client-registration</string>
	<key>STORAGE_BUCKET</key>
	<string>c-client-registration.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729752416660:ios:7b06d86d90e210c2c61f81</string>
</dict>
</plist>